<template>
<nav class="navbar">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Mobile
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li v-for ="item in items">
            <a v-bind:href="item.url">{{item.name}}</a>
          </li>
        </ul>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Tv & Audio
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">QLED</a></li>
          <li><a href="#">Speakers</a></li>
          <li><a href="#">Accessories</a></li>
        </ul>
      </li>
      <li><a href="#">Computing</a></li>
      <li><a href="#">Appliances</a></li>
    </ul>

    <div class="navbar-header">
      <a class="navbar-brand" href="#">SAMSUNG</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <form class="navbar-form navbar-left  ">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
      </form>
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          name: 'All Phones',
          url: '/'
        },
        {
          name: 'Galaxy S',
          url: '/'
        }
      ]
    };
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style lang="scss">
</style>
