<template>
  <div class="hello">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-list"></span>Categories
                    <div class="pull-right action-buttons">
                    </div>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item" v-for="category, index in productFamilies">
                            <div class="checkbox">
                                <input type="checkbox" :id="index" :value="category.path" v-model="checkedCategories"/>
                                <label for="checkbox">
                                    {{category.name}}
                                </label>
                            </div>

                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-list"></span>SubCategories
                    <div class="pull-right action-buttons">
                    </div>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                      <div v-for = "filters in loadSubCategories" >
                        <li class="list-group-item" v-for = "subCategory, index in filters">
                            <div class="checkbox">
                                <input type="checkbox" :value="subCategory.path.split('|')[1]" v-model="selectedSubCategories"/>
                                <label for="checkbox">
                                    {{subCategory.name}}
                                </label>
                            </div>
                        </li>
                      </div>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <toggle-component>Ting</toggle-component>
  </div>
</template>

<script>
import { ServiceClients } from 'service-client-lib';
import { mapGetters } from 'vuex';
import { EventBus } from '../event-bus';

export default {
  name: 'hello',
  data() {
    return {
      msg: 'Welcome to Your Vue.js PWA aahan',
      checkedCategories: [],
      selectedSubCategories: []
    };
  },
  computed: {
    ...mapGetters({
      productFamilies: 'productFamilies',
      subCategories: 'productSubCategories'
    }),
    loadSubCategories: function loadSubCategories() {
      return this.subCategories(this.checkedCategories)
    }
  },
  methods: {
    loadTaxonomy: function loadTaxonomy() {
      const me = this;
      const { CatalogClient } = ServiceClients;
      const catalogClient = new CatalogClient();
      catalogClient.getTaxonomy()
        .then((data) => {
          me.productFamilies = data[0].product_families;
        })
        .catch((error) => {
          throw error;
        });
    }
  },
  created () {
    // this.$toast('Can I have everybody`s attention?')
    this.$store.dispatch('getTaxonomy');
  },
  watch: {
    selectedSubCategories: function selectedSubCategories(subCategories) {
      if (subCategories.length > 0) {
        EventBus.$emit('getAllProducts', this.checkedCategories[0], this.selectedSubCategories[0]);
      }
    }
  }
};
</script>
<style lang="scss">
$size: 30px;

html,
body {
  font-family: 'SamsungOneLatinWeb', Arial, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 1;
}
.check-out {
  font-size: $size;
}

h1, h2 {
  font-weight: normal;
}

.panel-body { padding:0px; }
.panel-footer .pagination { margin: 0; }
.panel .glyphicon,.list-group-item .glyphicon { margin-right:5px; }
.panel-body .radio, .checkbox { display:inline-block;margin:0px; }
.panel-body input[type=checkbox]:checked + label { text-decoration: line-through;color: rgb(128, 144, 160); }
.list-group-item:hover, a.list-group-item:focus {text-decoration: none;background-color: rgb(245, 245, 245);}
.list-group { margin-bottom:0px; }
a {
  color: #35495E;
}
</style>
