<template>
  <div class="main">
    <div class="row">
      <h2>Checkout</h2>
      <!-- <span class="lookout" v-for="detail in productDetails"> -->
      <span class="lookout" v-if="productDetails && productDetails.images">
        <img :src="productDetails.images.small_image.url"/>
        <span>{{productDetails.product_display_name}}</span>
      </span>
    </div>
  </div>

</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'Checkout',
  data() {
    return {}
  },
  computed: {
    ...mapGetters([
      'productDetails'
    ])
  },
  methods: {
    ...mapActions([
      'requestProductDetails'
    ])
  },
  created () {
    this.requestProductDetails([this.$route.query.addItem]);
  }
}
</script>

<style lang="scss">
$size: 30px;

html,
body {
	font-family: 'SamsungOneLatinWeb', Arial, Tahoma, sans-serif;
	font-size: 16px;
	line-height: 1;
}
.check-out {
  font-size: $size;
}

h1, h2 {
  font-weight: normal;
}

.panel-body { padding:0px; }
.panel-footer .pagination { margin: 0; }
.panel .glyphicon,.list-group-item .glyphicon { margin-right:5px; }
.panel-body .radio, .checkbox { display:inline-block;margin:0px; }
.panel-body input[type=checkbox]:checked + label { text-decoration: line-through;color: rgb(128, 144, 160); }
.list-group-item:hover, a.list-group-item:focus {text-decoration: none;background-color: rgb(245, 245, 245);}
.list-group { margin-bottom:0px; }
a {
  color: #35495E;
}

</style>
