<template>
  <ul>
    <li v-for="p in products">
      {{ p.short_description }} - {{ p.price }}
      <br>
      <button
        @click="addToCart(p.sku)">
        View Product
      </button>
    </li>
  </ul>
</template>

<script>

import { mapGetters, mapActions } from 'vuex';
import { EventBus } from '../event-bus';

export default {
  computed: mapGetters({
    products: 'allProducts'
  }),
  methods: {
    addToCart: function addToCart(sku) {
      this.$router.push({ path: 'checkout', query: { addItem: sku }});
    },
    ...mapActions([
      'getAllProducts'
    ])
  },
  created () {
    EventBus.$on('getAllProducts', (category, subCategory) => {
      this.getAllProducts([category, subCategory])
    });
  }
}
</script>

<style lang='scss'>
</style>
