<template>
  <div class="spinner">
    <h2>Loading..</h2>
  </div>

</template>
<style>

</style>

<script>
import Vue from 'vue';
export default {
  data() {
    return {

    }
  },
  computed: {

  },
  watch: {

  }
}
</script>
