<template>
  <div id="app">
    <header>
      <router-view name="header"></router-view>
    </header>
    <main>
      <router-view></router-view>
      <router-view name="productList" class="product-class main"></router-view>
    </main>
    <footer>
      <router-view class="footer" name="footer"></router-view>
    </footer>
  </div>

</template>

<script>

export default {
  name: 'app'
};
</script>

<style lang="css">
html, body {
  height: 100%;
}

.main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
}
body {
  margin: 0;
}

#app {

}

main {
  text-align: center;
}

</style>
